//
   Created by DSch on 09.02.2017.

nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      a(href='/').navbar-brand Contacts

div(data-ng-controller='PersonsListController').container.main-content

  .row
    .col-sm-8
      .well.well-sm
        button(data-ng-click='loadData()').btn.btn-success Load data to DB...

  .row
    .col-sm-8
      .row
        .col-sm-12
          form.form-inline.well.well-sm
            span.glyphicon.glyphicon-search
            .form-group
              input(type='text',
                placeholder='Search name...',
                data-ng-model='search').form-control#name

            span.glyphicon.glyphicon-sort-by-attributes
            .form-group
              select(data-ng-model='order').form-control
                option(value='name') Name (ASC)
                option(value='-name') Name (DEC)
                option(value='email') Email (ASC)
                option(value='-email') Email (DEC)

      .row
        .col-sm-12
          table(infinite-scroll='loadMore()',
          infinite-scroll-distance='0').table.table-bordered
            tr
              th
              th Name
                span(data-ng-click='order = "name"').glyphicon.glyphicon-menu-up
                span(data-ng-click='order = "-name"').glyphicon.glyphicon-menu-down
              th Email
                span(data-ng-click='order = "email"').glyphicon.glyphicon-menu-up
                span(data-ng-click='order = "-email"').glyphicon.glyphicon-menu-down
              th Birthday
            tr(data-ng-repeat='person in contacts.persons',
            data-ng-style='{"background-color": (person == contacts.selectedPerson ? "lightgrey" : "") }',
            data-ng-click='contacts.selectedPerson = person')
              td(data-ng-bind= '$index + 1')
              td(data-ng-bind='person.name')
              td(data-ng-bind='person.email')
              td(data-ng-bind='person.birthdate | date: "longDate" ')

          div(data-ng-show='contacts.persons.length == 0 && !contacts.isLoading')
            .alert.alert-info
              p.text-center No results found for search item '{{search}}'

          div(data-ng-show='contacts.isLoading').spinner
            span(us-spinner='{redius:8, width:5, length:3, lines:9}')

    .col-sm-4
      div(data-ng-controller='PersonDetailsController').panel.panel-default
        .panel-heading Details
        .panel-body
          form(data-ng-submit='save()', novalidate).form-horizontal
            .form-group
              label.col-sm-2.control-label Name
              .col-sm-10
                input(type='text',
                name='name',
                data-ng-model='contacts.selectedPerson.name',
                required).form-control

            .form-group
              label.col-sm-2.control-label Email
              .col-sm-10
                input(type='email',
                name='email',
                data-ng-model='contacts.selectedPerson.email',
                required).form-control

            .form-group
              label.col-sm-2.control-label Photo
              .col-sm-10
                input(type='text',
                name='photo',
                data-ng-model='contacts.selectedPerson.photo').form-control

            .form-group
              label.col-sm-2.control-label Sex
              .col-sm-10
                select(name='sex',
                data-ng-model='contacts.selectedPerson.sex',
                ).form-control
                  option(value='M') Male
                  option(value='F') Female

            .form-group
              label.col-sm-2.control-label Birthday
              .col-sm-10
                input(type='text',
                name='bday',
                data-ng-model='contacts.selectedPerson.birthdate').form-control

            .form-group
              label.col-sm-2.control-label Phone
              .col-sm-10
                input(type='tel',
                name='phone',
                data-ng-model='contacts.selectedPerson.phonenumber').form-control

            .form-group
              label.col-sm-2.control-label Address
              .col-sm-10
                input(type='text',
                name='address',
                data-ng-model='contacts.selectedPerson.address').form-control

            .form-group
              label.col-sm-2.control-label City
              .col-sm-10
                input(type='text',
                name='city',
                data-ng-model='contacts.selectedPerson.city').form-control

            .form-group
              label.col-sm-2.control-label Country
              .col-sm-10
                input(type='text',
                name='country',
                data-ng-model='contacts.selectedPerson.country').form-control

            .buttons
              button(ladda='contacts.isSaving',
              type='submit').btn.btn-primary.btn-block Save

      pre {{search}}