//
   Created by DSch on 09.02.2017.

nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      a(href='/').navbar-brand Contacts

.container.main-content

  .row
    div(data-ng-controller='PersonsListController').col-sm-8
      .row
        .col-sm-12
          form.form-inline.well.well-sm
            span.glyphicon.glyphicon-search
            .form-group
              input(type='text',
                placeholder='Search name...',
                data-ng-model='search').form-control#name

            span.glyphicon.glyphicon-sort-by-attributes
            .form-group
              select(data-ng-model='order').form-control
                option(value='name') Name (ASC)
                option(value='-name') Name (DEC)
                option(value='email') Email (ASC)
                option(value='-email') Email (DEC)

      .row
        .col-sm-12
          table(infinite-scroll='loadMore()',
          infinite-scroll-distance='0').table.table-bordered
            tr
              th
              th Name
                span(data-ng-click='order = "name"').glyphicon.glyphicon-menu-up
                span(data-ng-click='order = "-name"').glyphicon.glyphicon-menu-down
              th Email
                span(data-ng-click='order = "email"').glyphicon.glyphicon-menu-up
                span(data-ng-click='order = "-email"').glyphicon.glyphicon-menu-down
              th Birthday
            tr(data-ng-repeat='person in contacts.persons',
            data-ng-style='{"background-color": (person == contacts.selectedPerson ? "lightgrey" : "") }',
            data-ng-click='contacts.selectedPerson = person')
              td(data-ng-bind= '$index + 1')
              td(data-ng-bind='person.name')
              td(data-ng-bind='person.email')
              td(data-ng-bind='person.birthdate | date: "longDate" ')

            tr(data-ng-show='contacts.persons.length == 0')
              td(colspan='4')
                .alert.alert-info
                  p.text-center No results found for search item '{{search}}'

          div(data-ng-show='contacts.isLoading').spinner
            span(us-spinner='{redius:8, width:5, length:3, lines:9}')

    .col-sm-4
      div(data-ng-controller='PersonDetailsController').panel.panel-default
        .panel-heading Details
        .panel-body
          dl
            dt Name
              dd(data-ng-bind='contacts.selectedPerson.name')
            dt Email
              dd(data-ng-bind='contacts.selectedPerson.email')
            dt Birthday
              dd(data-ng-bind='contacts.selectedPerson.birthdate | date:"longDate"')
            dt Phone
              dd(data-ng-bind='contacts.selectedPerson.phonenumber')
            dt Address
              dd(data-ng-bind='contacts.selectedPerson.address')
            dt City
              dd(data-ng-bind='contacts.selectedPerson.city')
            dt Country
              dd(data-ng-bind='contacts.selectedPerson.country')

      pre {{search}}